
.Profile {
    grid-area: Profile;

    display: grid;


    grid-template-columns: none;
    grid-auto-rows: auto;

}


.side {
    display: grid;

    grid-template-areas: "img"
                        "des"
                        "posts";

}

.myposts {
    display: grid;
    grid-template-rows: auto;

}




