
.posts{

}




.post{
    display : grid;

    grid-template-columns: minmax(10vh, auto) minmax(20vh, auto);
    grid-template-rows: 100px auto 30px;/*minmax(5vh,20vh) minmax(5vh,30vh) 5vh;*/


    grid-template-areas:
    " avatar text"
    " nickname text"
    " likes likes"
    ;

    align-content: start;
    justify-content: start;

}

.avatar{
    grid-area: avatar;
    padding: 10px;

}

.avatar > img {
    width: 80px;
    height: 80px;
    border-radius: 40px;

}

.nickname{
    grid-are: nickname;
    padding-bottom: 10px;
    padding-left: 10px;


    align-content: start;
    justify-content: start;
}

.text{
    grid-area: text;


}

.likes{
    grid-area: likes;
    padding-bottom: 10px;
    padding-left: 10px;

}

.text_area{
    padding: 10px;
}

.buttons{
    padding: 10px;
}